<!-- templates/authentication/login.html -->
{% extends "base.html" %}
{% block content %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">Login Page</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}<div class="notification is-danger">{{ messages[0] }}</div>{% endif %}
            {% endwith %}
            <form method="POST" action="/login">
                {{ form.csrf_token }}
                {{ form.username }}
                <ul>
                    {% for error in form.username.errors %}<li style="color:red;">{{ error }}</li>{% endfor %}
                </ul>
                {{ form.password }}
                {{ form.submit }}
            </form>
        </div>
    </div>
{% endblock %}
