<!-- templates/authentication/signup_from_social_media.html -->
{% extends "base.html" %}
{% block content %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">Just 1 more thing...</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <div>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                What username would you like to use for your account? 
            </div>
            <form method="POST" action="/site/signup-from-social-media/">
                {{ form.csrf_token }}
                {{ form.username }}
                <ul>
                    {% for error in form.username.errors %}<li style="color:red;">{{ error }}</li>{% endfor %}
                </ul>
                {{ form.submit }}
            </form>
        </div>
    </div>
{% endblock %}
