<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="fs-4 font-monospace navbar-brand me-4" href="/">
            <img src="https://cdn-icons-png.flaticon.com/512/3209/3209265.png"
                width="32"
                height="32"
                >
            PYBIN
            
        </a>
        <a href="/" class="ms-4 me-3 btn btn-success" type="submit">
            <i class="fa fa-plus"></i> paste
        </a>
        <form class="d-flex">
            <input class="form-control me-2"
                   type="search"
                   placeholder="Search..."
                   aria-label="Search">
        </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if current_user.is_authenticated %}
                <ul class="navbar-nav ms-auto dropstart mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ current_user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark"
                            aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="/u/{{ current_user.username }}/">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    MY PYBIN
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                    MY COMMENTS
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-inbox" aria-hidden="true"></i>
                                    MY MESSAGES
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/user/profile/">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                    EDIT PROFILE
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                    CHANGE PASSWORD
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/logout">
                                    <i class="fa fa-window-close-o" aria-hidden="true"></i>
                                    LOGOUT
                                </a>
                            </li>
                        </ul>
                    </li>
                      <img src="{{profile_image()}}" width="40" height="40">
                </ul>
            {% else %}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <a class="me-1 btn btn-outline-primary nav-link" href="/login">LOGIN</a>
                    <a class="me-1 btn btn-outline-primary nav-link" href="/signup">SIGN UP</a>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
