{% extends "base.html" %}
{% block title %}
    {% if document.title %}
        {{ document.title }} - Pybin.com
    {% else %}
        {{ document.content[:50] }} - Pybin.com
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="errors">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}<div class="alert alert-danger">{{ messages[0] }}</div>{% endif %}
                {% endwith %}
            </div>
            <div class="notice">
                {% if document.paste %}
                    <div>
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        This is comment for paste <a href="/{{ document.paste.id }}/">{{ document.paste.title }}</a>
                    </div>
                {% endif %}
            </div>
            <div class="content col">
                <span hidden class="document_id">{{ document.id }}</span>
                <div class="post_view">
                    <div class="details d-flex">
                        <div class="p-2 user_icon">
                            <img src="{{ profile_image(document.author)}}" height="40" width="40">
                        </div>
                        <div class="info_bar">
                            <div class="info_top">
                                <h5>{{ document.title }}</h5>
                            </div>
                            <div class="info_bottom align-items-end d-inline-flex">
                                <div class="username">
                                    <i class="fa fa-user-circle-o"></i>
                                    <a href="/u/{{ document.author.username }}">{{ document.author.username|upper()}}</a>
                                </div>
                                <div class="px-2 date"
                                     title="{{ document.created.strftime("%A %d of %B %Y %I:%M:%S %p") }}">
                                    <i class="fa fa-calendar"></i>
                                    <span>{{ document.created.strftime("%b %d, %Y") }}</span>
                                </div>
                                <div class="px-2 rating" title="Rating">
                                    <i class="fa fa-star"></i>
                                    <span class="rating_int">{{ document.rating }}</span>
                                </div>
                                <div class="px-2 expire" title="When this paste automatically deleted">
                                    <i class="fa fa-clock-o"></i>
                                    {% if document.expiration == 3600 %}
                                        1 Hour
                                    {% elif document.expiration == 86400 %}
                                        1 Day
                                    {% elif document.expiration == 2592000 %}
                                        1 Month
                                    {% elif document.expiration == 31104000 %}
                                        1 Year
                                    {% else %}
                                        Never
                                    {% endif %}
                                </div>
                                <div class="px-2 comments_info" title="Comments">
                                    <i class="fa fa-comment"></i>
                                    {% if document.comments %}
                                        {{ document.comments|length() }}
                                    {% else %}
                                        <a href="#content">ADD COMMENT</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="highlighted_code border rounded border-dark">
                        <div class="top_buttons d-flex">
                            <div class="left d-inline-flex">
                                <!-- TODO: Implement Search by Document Syntax -->
                                <a class="btn btn-outline-secondary" href="#">
                                    {% if document.syntax != "plaintext" %}
                                        {{ document.syntax }}
                                    {% else %}
                                        text
                                    {% endif %}
                                </a>
                                {{ document.size }} |
                                {% if document.category %}{{ document.category }} |{% endif %}
                                {% if current_user in document.liked %}
                                    <div class="rating-btns">
                                        <button data-rating="1"
                                                data-key="{{ document.id }}"
                                                class="rating-btn thumbs-up btn btn-success">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                            <span class="like-count">{{ document.liked|length()}}</span>
                                        </button>
                                        <button data-rating="-1"
                                                data-key="{{ document.id }}"
                                                class="rating-btn thumbs-down btn btn-outline-secondary">
                                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                            <span class="dislike-count">{{ document.disliked|length()}}</span>
                                        </button>
                                    </div>
                                {% elif current_user in document.disliked %}
                                    <div class="rating-btns">
                                        <button data-rating="1"
                                                data-key="{{ document.id }}"
                                                class="rating-btn thumbs-up btn btn-outline-secondary">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                            <span class="like-count">{{ document.liked|length()}}</span>
                                        </button>
                                        <button data-rating="-1"
                                                data-key="{{ document.id }}"
                                                class="rating-btn thumbs-down btn btn-danger">
                                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                            <span class="dislike-count">{{ document.disliked|length()}}</span>
                                        </button>
                                    </div>
                                {% else %}
                                    <div class="rating-btns">
                                        <button data-rating="1"
                                                data-key="{{ document.id }}"
                                                class="rating-btn thumbs-up btn btn-outline-secondary">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                            <span class="like-count">{{ document.liked|length()}}</span>
                                        </button>
                                        <button data-rating="-1"
                                                data-key="{{ document.id }}"
                                                class="rating-btn thumbs-down btn btn-outline-secondary">
                                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                            <span class="dislike-count">{{ document.disliked|length()}}</span>
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="right ms-auto d-inline-flex">
                                <a class="btn btn-outline-secondary" href="/raw/{{ document.id }}">raw</a>
                                <a class="btn btn-outline-secondary" href="/clone/{{ document.id }}">clone</a>
                                {% if current_user == document.author %}
                                    {% if not document.title %}
                                        {% if not comment_older_than_5_minutes(document) %}
                                            <a class="btn btn-outline-secondary" href="/edit/{{ document.id }}/">edit</a>
                                        {% endif %}
                                    {% else %}
                                        <a class="btn btn-outline-secondary" href="/edit/{{ document.id }}/">edit</a>
                                    {% endif %}
                                {% endif %}
                                {% if current_user == document.author %}
                                    <a class="btn btn-outline-secondary" href="/delete/{{ document.id }}/">delete</a>
                                {% else %}
                                    <!-- TODO: Implement Document Reports -->
                                    <a class="btn btn-outline-secondary" href="#">report</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="source_text">
                            <pre><code class="language-{{document.syntax}}">{{document.content}}</code></pre>
                        </div>
                    </div>
                    <div class="raw_paste_data">
                        <div>
                            RAW Paste Data
                            <textarea style="height: 100px; width: 100%">{{document.content}}</textarea>
                        </div>
                    </div>
                    <div class="comments">
                        {% if document.comments %}
                            <div id="comments" class="content_title">Comments</div>
                            <ul class="comment-tree">
                                {% for comment in document.comments %}
                                    <li>
                                        <div class="comment">
                                            <div class="details d-flex">
                                                <img src="{{ profile_image(comment.author) }}" height="16" width="16">
                                                <div class="info-bar d-inline-flex">
                                                    <div class="username">
                                                        <a href="/u/{{ comment.author.username }}/">{{ comment.author.username }}</a>
                                                    </div>
                                                    <div class="date d-inline-flex">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>{{ comment.created|timesince }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="{{ comment.id }}" class="highlighted-code">
                                                {% if comment.active %}
                                                    <div class="top-buttons d-flex">
                                                        <div class="left d-inline-flex">
                                                            <a class="btn btn-outline-secondary"
                                                               href="/{{ document.id }}#{{ comment.id }}">#</a>
                                                            <!-- TODO: Implement Search by Document Syntax -->
                                                            <a class="btn btn-outline-secondary" href="#">
                                                                {% if comment.syntax != "plaintext" %}
                                                                    {{ comment.syntax }}
                                                                {% else %}
                                                                    text
                                                                {% endif %}
                                                            </a>
                                                            {{ comment.size }} |
                                                            {% if current_user in comment.liked %}
                                                                <div class="rating-btns">
                                                                    <button data-rating="1"
                                                                            data-key="{{ comment.id }}"
                                                                            class="rating-btn thumbs-up btn btn-success">
                                                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                                        <span class="like-count">{{ comment.liked|length()}}</span>
                                                                    </button>
                                                                    <button data-rating="-1"
                                                                            data-key="{{ comment.id }}"
                                                                            class="rating-btn thumbs-down btn btn-outline-secondary">
                                                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                                        <span class="dislike-count">{{ comment.disliked|length()}}</span>
                                                                    </button>
                                                                </div>
                                                            {% elif current_user in comment.disliked %}
                                                                <div class="rating-btns">
                                                                    <button data-rating="1"
                                                                            data-key="{{ comment.id }}"
                                                                            class="rating-btn thumbs-up btn btn-outline-secondary">
                                                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                                        <span class="like-count">{{ comment.liked|length()}}</span>
                                                                    </button>
                                                                    <button data-rating="-1"
                                                                            data-key="{{ comment.id }}"
                                                                            class="rating-btn thumbs-down btn btn-danger">
                                                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                                        <span class="dislike-count">{{ comment.disliked|length()}}</span>
                                                                    </button>
                                                                </div>
                                                            {% else %}
                                                                <div class="rating-btns">
                                                                    <button data-rating="1"
                                                                            data-key="{{ comment.id }}"
                                                                            class="rating-btn thumbs-up btn btn-outline-secondary">
                                                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                                        <span class="like-count">{{ comment.liked|length()}}</span>
                                                                    </button>
                                                                    <button data-rating="-1"
                                                                            data-key="{{ comment.id }}"
                                                                            class="rating-btn thumbs-down btn btn-outline-secondary">
                                                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                                        <span class="dislike-count">{{ comment.disliked|length()}}</span>
                                                                    </button>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="right ms-auto d-inline-flex">
                                                            <a class="btn btn-outline-secondary" href="/{{ comment.id }}/">view</a>
                                                            {% if current_user == comment.author %}
                                                                {% if not comment_older_than_5_minutes(comment) %}
                                                                    <a class="btn btn-outline-secondary" href="/edit/{{ comment.id }}/">edit</a>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if current_user == comment.author %}
                                                                <a class="btn btn-outline-secondary" href="/delete/{{ comment.id }}/">delete</a>
                                                            {% else %}
                                                                <!-- TODO: Implement Document Reports -->
                                                                <a class="btn btn-outline-secondary" href="#">report</a>
                                                            {% endif %}
                                                            <a id="{{ comment.id }}" class="reply-btn btn btn-outline-secondary">reply</a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                <div class="source">
                                                    <pre><code class="language-{{comment.syntax}}">{{comment.content}}</code></pre>
                                                </div>
                                                <div class="reply-form-container-{{ comment.id }}">
                                                </div>
                                                <div class="replies">
                                                    {% if comment.comments %}
                                                        <ul>
                                                            {% for reply in comment.comments %}
                                                                <li>
                                                                    <div class="details d-flex">
                                                                        <img src="{{ profile_image(reply.author) }}" height="16" width="16">
                                                                        <div class="info-bar d-inline-flex">
                                                                            <div class="username">
                                                                                <a href="/u/{{ reply.author.username }}/">{{ reply.author.username }}</a>
                                                                            </div>
                                                                            <div class="date d-inline-flex">
                                                                                <i class="fa fa-calendar" aria-hidden="true"></i>{{ reply.created|timesince }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="{{ reply.id }}" class="highlighted-code">
                                                                        {% if reply.active %}
                                                                            <div class="top-buttons d-flex">
                                                                                <div class="left d-inline-flex">
                                                                                    <a class="btn btn-outline-secondary"
                                                                                       href="/{{ document.id }}#{{ reply.id }}">#</a>
                                                                                    <!-- TODO: Implement Search by Document Syntax -->
                                                                                    <a class="btn btn-outline-secondary" href="#">
                                                                                        {% if reply.syntax != "plaintext" %}
                                                                                            {{ reply.syntax }}
                                                                                        {% else %}
                                                                                            text
                                                                                        {% endif %}
                                                                                    </a>
                                                                                    {{ reply.size }} |
                                                                                    {% if current_user in reply.liked %}
                                                                                        <div class="rating-btns">
                                                                                            <button data-rating="1"
                                                                                                    data-key="{{ reply.id }}"
                                                                                                    class="rating-btn thumbs-up btn btn-success">
                                                                                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                                                                <span class="like-count">{{ reply.liked|length()}}</span>
                                                                                            </button>
                                                                                            <button data-rating="-1"
                                                                                                    data-key="{{ reply.id }}"
                                                                                                    class="rating-btn thumbs-down btn btn-outline-secondary">
                                                                                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                                                                <span class="dislike-count">{{ reply.disliked|length()}}</span>
                                                                                            </button>
                                                                                        </div>
                                                                                    {% elif current_user in reply.disliked %}
                                                                                        <div class="rating-btns">
                                                                                            <button data-rating="1"
                                                                                                    data-key="{{ reply.id }}"
                                                                                                    class="rating-btn thumbs-up btn btn-outline-secondary">
                                                                                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                                                                <span class="like-count">{{ reply.liked|length()}}</span>
                                                                                            </button>
                                                                                            <button data-rating="-1"
                                                                                                    data-key="{{ reply.id }}"
                                                                                                    class="rating-btn thumbs-down btn btn-danger">
                                                                                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                                                                <span class="dislike-count">{{ reply.disliked|length()}}</span>
                                                                                            </button>
                                                                                        </div>
                                                                                    {% else %}
                                                                                        <div class="rating-btns">
                                                                                            <button data-rating="1"
                                                                                                    data-key="{{ reply.id }}"
                                                                                                    class="rating-btn thumbs-up btn btn-outline-secondary">
                                                                                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                                                                <span class="like-count">{{ reply.liked|length()}}</span>
                                                                                            </button>
                                                                                            <button data-rating="-1"
                                                                                                    data-key="{{ reply.id }}"
                                                                                                    class="rating-btn thumbs-down btn btn-outline-secondary">
                                                                                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                                                                <span class="dislike-count">{{ reply.disliked|length()}}</span>
                                                                                            </button>
                                                                                        </div>
                                                                                    {% endif %}
                                                                                </div>
                                                                                <div class="right ms-auto d-inline-flex">
                                                                                    <a class="btn btn-outline-secondary" href="/{{ reply.id }}/">view</a>
                                                                                    {% if current_user == reply.author %}
                                                                                        {% if not comment_older_than_5_minutes(reply) %}
                                                                                            <a class="btn btn-outline-secondary" href="/edit/{{ reply.id }}/">edit</a>
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                    {% if current_user == reply.author %}
                                                                                        <a class="btn btn-outline-secondary" href="/delete/{{ reply.id }}/">delete</a>
                                                                                    {% else %}
                                                                                        <!-- TODO: Implement Document Reports -->
                                                                                        <a class="btn btn-outline-secondary" href="#">report</a>
                                                                                    {% endif %}
                                                                                    <a id="{{ reply.id }}" class="reply-btn btn btn-outline-secondary">reply</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </li>
                                                                <div class="source">
                                                                    <pre><code class="language-{{reply.syntax}}">{{reply.content}}</code></pre>
                                                                </div>
                                                                <div class="reply-form-container-{{ reply.id }}">
                                                                </div>
                                                                <div class="replies">
                                                                    {% if reply.comments %}
                                                                        <ul>
                                                                            {% for reply2 in reply.comments %}
                                                                                <li>
                                                                                    <div class="details d-flex">
                                                                                        <img src="{{ profile_image(reply2.author) }}" height="16" width="16">
                                                                                        <div class="info-bar d-inline-flex">
                                                                                            <div class="username">
                                                                                                <a href="/u/{{ reply2.author.username }}/">{{ reply2.author.username }}</a>
                                                                                            </div>
                                                                                            <div class="date d-inline-flex">
                                                                                                <i class="fa fa-calendar" aria-hidden="true"></i>{{ reply2.created|timesince }}
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div id="{{ reply2.id }}" class="highlighted-code">
                                                                                        {% if reply2.active %}
                                                                                            <div class="top-buttons d-flex">
                                                                                                <div class="left d-inline-flex">
                                                                                                    <a class="btn btn-outline-secondary"
                                                                                                       href="/{{ document.id }}#{{ reply2.id }}">#</a>
                                                                                                    <!-- TODO: Implement Search by Document Syntax -->
                                                                                                    <a class="btn btn-outline-secondary" href="#">
                                                                                                        {% if reply2.syntax != "plaintext" %}
                                                                                                            {{ reply2.syntax }}
                                                                                                        {% else %}
                                                                                                            text
                                                                                                        {% endif %}
                                                                                                    </a>
                                                                                                    {{ reply2.size }} |
                                                                                                    {% if current_user in reply2.liked %}
                                                                                                        <div class="rating-btns">
                                                                                                            <button data-rating="1"
                                                                                                                    data-key="{{ reply2.id }}"
                                                                                                                    class="rating-btn thumbs-up btn btn-success">
                                                                                                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                                                                                <span class="like-count">{{ reply2.liked|length()}}</span>
                                                                                                            </button>
                                                                                                            <button data-rating="-1"
                                                                                                                    data-key="{{ reply2.id }}"
                                                                                                                    class="rating-btn thumbs-down btn btn-outline-secondary">
                                                                                                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                                                                                <span class="dislike-count">{{ reply2.disliked|length()}}</span>
                                                                                                            </button>
                                                                                                        </div>
                                                                                                    {% elif current_user in reply2.disliked %}
                                                                                                        <div class="rating-btns">
                                                                                                            <button data-rating="1"
                                                                                                                    data-key="{{ reply2.id }}"
                                                                                                                    class="rating-btn thumbs-up btn btn-outline-secondary">
                                                                                                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                                                                                <span class="like-count">{{ reply2.liked|length()}}</span>
                                                                                                            </button>
                                                                                                            <button data-rating="-1"
                                                                                                                    data-key="{{ reply2.id }}"
                                                                                                                    class="rating-btn thumbs-down btn btn-danger">
                                                                                                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                                                                                <span class="dislike-count">{{ reply2.disliked|length()}}</span>
                                                                                                            </button>
                                                                                                        </div>
                                                                                                    {% else %}
                                                                                                        <div class="rating-btns">
                                                                                                            <button data-rating="1"
                                                                                                                    data-key="{{ reply2.id }}"
                                                                                                                    class="rating-btn thumbs-up btn btn-outline-secondary">
                                                                                                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                                                                                <span class="like-count">{{ reply2.liked|length()}}</span>
                                                                                                            </button>
                                                                                                            <button data-rating="-1"
                                                                                                                    data-key="{{ reply2.id }}"
                                                                                                                    class="rating-btn thumbs-down btn btn-outline-secondary">
                                                                                                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                                                                                <span class="dislike-count">{{ reply2.disliked|length()}}</span>
                                                                                                            </button>
                                                                                                        </div>
                                                                                                    {% endif %}
                                                                                                </div>
                                                                                                <div class="right ms-auto d-inline-flex">
                                                                                                    <a class="btn btn-outline-secondary" href="/{{ reply2.id }}/">view</a>
                                                                                                    {% if current_user == reply2.author %}
                                                                                                        {% if not comment_older_than_5_minutes(reply2) %}
                                                                                                            <a class="btn btn-outline-secondary" href="/edit/{{ reply2.id }}/">edit</a>
                                                                                                        {% endif %}
                                                                                                    {% endif %}
                                                                                                    {% if current_user == reply2.author %}
                                                                                                        <a class="btn btn-outline-secondary" href="/delete/{{ reply2.id }}/">delete</a>
                                                                                                    {% else %}
                                                                                                        <!-- TODO: Implement Document Reports -->
                                                                                                        <a class="btn btn-outline-secondary" href="#">report</a>
                                                                                                    {% endif %}
                                                                                                    <a id="{{ reply2.id }}" class="reply-btn btn btn-outline-secondary">reply</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    {% endif %}
                                                                                </li>
                                                                                <div class="source">
                                                                                    <pre><code class="language-{{reply2.syntax}}">{{reply2.content}}</code></pre>
                                                                                </div>
                                                                                <div class="reply-form-container-{{ reply2.id }}">
                                                                                </div>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    {% endif %}
                                                                </div>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            <div class="reply-form-container-{{ document.id }}">
                                <div class="add_comment_form">
                                    <form class="col" method="POST" action="/{{ document.id }}/">
                                        {{ form.csrf_token }}
                                        <div>
                                            {{ form.content.label }}
                                            {{ form.content }}
                                        </div>
                                        <div>
                                            {{ form.syntax.label }}
                                            {{ form.syntax }}
                                        </div>
                                        {{ form.submit }}
                                    </form>
                                </div>
                            </div>
                        {% else %}
                            <div class="content_text">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                Please, <a href="/login/">Sign In</a> to add comment
                            </div>
                        {% endif %}
                        <a id="{{ document.id }}"
                           class="reply-btn add-a-comment btn-outline-secondary">Add a Comment
                        </a>
                    </div>
                </div>
            </div>
            <div class="sidebar col-sm-3">
                {% if current_user.is_authenticated %}
                    <div class="sidebar_title">
                        <a href="#">My Pastes</a>
                    </div>
                    <ul class="sidebar_menu">
                        {% if not my_pastes() %}
                            <li>
                                <i class="fa fa-globe" aria-hidden="true"></i>Nothing here yet...
                            </li>
                        {% endif %}
                        {% for paste in my_pastes() %}
                            <li>
                                {% if paste.exposure == "Public" %}
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                {% elif paste.exposure == 'Unlisted' %}
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                {% elif paste.exposure == 'Private' %}
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                {% endif %}
                                <a href="/{{ paste.id }}">{{ paste.title }}</a>
                                <div class="details">
                                    {% if paste.syntax != "plaintext" %}{{ paste.syntax|capitalize }} |{% endif %}
                                    {{ paste.created|timesince }}| {{ paste.size }} KB
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="sidebar_sticky">
                </div>
                <div class="sidebar_title">
                    <a href="#">Public Pastes</a>
                </div>
                <ul class="sidebar_menu">
                    {% for paste in public_pastes() %}
                        <li>
                            {% if paste.exposure == "Public" %}
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            {% elif paste.exposure == 'Unlisted' %}
                                <i class="fa fa-link" aria-hidden="true"></i>
                            {% elif paste.exposure == 'Private' %}
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            {% endif %}
                            <a href="/{{ paste.id }}">{{ paste.title }}</a>
                            <div class="details">
                                {% if paste.syntax != "plaintext" %}{{ paste.syntax|capitalize }} |{% endif %}
                                {{ paste.created|timesince }}| {{ paste.size }} KB
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endblock %}
    {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
        <script src="{{url_for('static', filename='js/reply.js')}}"></script>
        <script src="{{url_for('static', filename='js/rating.js')}}"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/material-darker.min.css">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/highlightjs.css')}}">
        <script>hljs.highlightAll();</script>
        <script>hljs.initLineNumbersOnLoad();</script>
    {% endblock %}
