{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="errors">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}<div class="notification is-danger">{{ messages[0] }}</div>{% endif %}
                {% endwith %}
            </div>
            <div class="content col">
                {% if error_code == "404" %}
                    This page is no longer available. It has either expired, been removed by its creator, or removed by one of the Pybin staff.
                {% elif error_code == "403" %}
                    Error, this is a private paste or is pending moderation. If this paste belongs to you, please login to Pybin to view it.
                {% endif %}
            </div>
            <div class="sidebar col-sm-3">
                <div class="sidebar_title">
                    <a href="#">My Pastes</a>
                </div>
                <ul class="sidebar_menu">
                    {% for paste in my_pastes() %}
                        <li>
                            {% if paste.paste_exposure == "Public" %}
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            {% elif paste.paste_exposure == 'Unlisted' %}
                                <i class="fa fa-link" aria-hidden="true"></i>
                            {% elif paste.paste_exposure == 'Private' %}
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            {% endif %}
                            <a href="/{{ paste.id }}">{{ paste.title }}</a>
                            <div class="details">
                                {% if paste.syntax != "None" %}{{ paste.syntax|capitalize }} |{% endif %}
                                {{ paste.created|timesince }}| {{ paste.paste_size }} KB
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="sidebar_sticky"></div>
                <div class="sidebar_title">
                    <a href="#">Public Pastes</a>
                </div>
                <ul class="sidebar_menu">
                    {% for paste in public_pastes() %}
                        <li>
                            {% if paste.paste_exposure == "Public" %}
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            {% elif paste.paste_exposure == 'Unlisted' %}
                                <i class="fa fa-link" aria-hidden="true"></i>
                            {% elif paste.paste_exposure == 'Private' %}
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            {% endif %}
                            <a href="/{{ paste.id }}">{{ paste.title }}</a>
                            <div class="details">
                                {% if paste.syntax != "None" %}{{ paste.syntax|capitalize }} |{% endif %}
                                {{ paste.created|timesince }}| {{ paste.paste_size }} KB
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
