<!-- templates/authentication/home.html -->
{% extends "base.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}<div class="notification is-danger">{{ messages[0] }}</div>{% endif %}
    {% endwith %}
    <h1 class="title">Welcome, {{ name }}!</h1>
    {% if form.content.errors %}
        {% for error in form.content.errors %}{{ error }}{% endfor %}
    {% endif %}
    <form method="POST" action="/">
        {{ form.csrf_token }}
        {{ form.content.label }}
        <textarea class="codemirror-textarea" name="content"></textarea>
        <div>
            {{ form.category.label }}
            {{ form.category }}
        </div>
        <div>
            {{ form.tags.label }}
            {{ form.tags(placeholder="software, tutorial, data")}}
        </div>
        <div>
            {{ form.syntax.label }}
            {{ form.syntax }}
        </div>
        <div>
            {{ form.paste_expiration.label }}
            {{ form.paste_expiration }}
        </div>
        <div>
            {{ form.paste_exposure.label }}
            {{ form.paste_exposure }}
        </div>
        <div>
            {{ form.title.label }}
            {{ form.title }}
        </div>
        {{ form.submit }}
    </form>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/default.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
{% endblock %}
