{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="errors">
                {% if form.password.errors %}
                    {% for error in form.password.errors %}{{ error }}{% endfor %}
                {% endif %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}<div class="notification is-danger">{{ messages[0] }}</div>{% endif %}
                {% endwith %}
            </div>
            <div class="content col">
                <form method="POST" action="/user/password/">
                    {{ form.csrf_token }}
                    <div>
                        Password Status:
                        {% if current_user.password_hash %}
                            <p class="password_set">Ok!</p>
                        {% else %}
                            <p class="password_not_set">Not set!</p>
                        {% endif %}
                    </div>
                    {% if current_user.password_hash %}
                        <div>
                            {{ form.current_password.label }}
                            {{ form.current_password(placeholder="Your current password")}}
                        </div>
                    {% endif %}
                    <div>
                        {{ form.password.label }}
                        {{ form.password(placeholder="Your new password") }}
                    </div>
                    <div>
                        {{ form.password_confirm.label }}
                        {{ form.password_confirm(placeholder="Your new password again") }}
                    </div>
                    {{ form.recaptcha }}
                    {{ form.submit }}
                </form>
            </div>
            <div class="sidebar col-sm-3">
                <div class="sidebar_title">
                    <a href="#">My Pastes</a>
                </div>
                <ul class="sidebar_menu">
                    {% if not my_pastes() %}
                        <li>
                            <i class="fa fa-globe" aria-hidden="true"></i>Nothing here yet...
                        </li>
                    {% endif %}
                    {% for paste in my_pastes() %}
                        <li>
                            {% if paste.paste_exposure == "Public" %}
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            {% elif paste.paste_exposure == 'Unlisted' %}
                                <i class="fa fa-link" aria-hidden="true"></i>
                            {% elif paste.paste_exposure == 'Private' %}
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            {% endif %}
                            <a href="/{{ paste.id }}">{{ paste.title }}</a>
                            <div class="details">
                                {% if paste.syntax != "None" %}{{ paste.syntax|capitalize }} |{% endif %}
                                {{ paste.created|timesince }}| {{ paste.paste_size }} KB
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="sidebar_sticky"></div>
                <div class="sidebar_title">
                    <a href="#">Public Pastes</a>
                </div>
                <ul class="sidebar_menu">
                    {% for paste in public_pastes() %}
                        <li>
                            {% if paste.paste_exposure == "Public" %}
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            {% elif paste.paste_exposure == 'Unlisted' %}
                                <i class="fa fa-link" aria-hidden="true"></i>
                            {% elif paste.paste_exposure == 'Private' %}
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            {% endif %}
                            <a href="/{{ paste.id }}">{{ paste.title }}</a>
                            <div class="details">
                                {% if paste.syntax != "None" %}{{ paste.syntax|capitalize }} |{% endif %}
                                {{ paste.created|timesince }}| {{ paste.paste_size }} KB
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
