{% extends "base.html" %}
{% block content %}
  {% with messages = get_flashed_messages() %}
      {% if messages %}<div class="notification is-danger">{{ messages[0] }}</div>{% endif %}
  {% endwith %}
    <a href="/raw/{{ paste.paste_hash }}" class="btn btn-info" type="submit">raw</a>
    {% if current_user == paste.author %}
        <a href="/delete/{{ paste.paste_hash }}"
           class="btn btn-danger"
           type="submit">delete</a>
    {% endif %}
    {% if current_user == paste.author %}
        <a href="/edit/{{ paste.paste_hash }}"
           class="btn btn-success"
           type="submit">edit</a>
    {% endif %}
    <div>{{ paste.title }}</div>
    <div>
        author
        {{ paste.author.username }}
    </div>
    <div>
        date created
        {{ paste.created.strftime("%b %d, %Y")}}
    </div>
    <div>
      <pre><code>{{paste.content}}</code></pre>
    </div>
    <div>
        content
        <textarea>{{paste.content}}</textarea>
    </div>
    <div>
        number of comments
        {{ paste.comments|length }}
    </div>
{% endblock %}
{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/material-darker.min.css">
  <link rel="stylesheet"
        href="{{url_for('static', filename='css/highlightjs.css')}}">
  <script>hljs.highlightAll();</script>
  <script>hljs.initLineNumbersOnLoad();</script>
{% endblock %}
